body {
  background: $black;
  font-family: sans-serif;
  color: $white;

  #body {
    min-height: calc(100vh - #{2 * $padding});
    padding: $padding;
    #mount-game {
      width: calc(100vmin - #{2 * $padding});
      height: calc(100vmin - #{2 * $padding});
      background: $red;
    }
    &,
    #mount-game {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
